{% extends "base.html" %}
<h1>Акты</h1>
{% block content %}
<form method="post" action="input5.php">
   <h3>Список актов на печать</h3>
    {% if acts %}
        <div>
            {% for act in acts %}
                <input type="checkbox" name="option1" value="act" ><a href="acts/{{ act.id }}" target="_blank">Акт передачи водителю {{ act.second_name }} {{ act.first_name }} {{ act.middle_name }} {{ act.series }} {{ act.number }} автомобиля {{ act.brand }} {{ act.model }} {{ act.numberplate }} от {{ act.date }} {{ act.time }}</a><Br>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Распечатать выделенные</button>
    {% else %}
        <p>Список актов пуст</p>
    {% endif %}
  </form>


{% endblock %}