<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>!</title>
</head>
<body>
<table cellspacing="0" style="width: 650px;font-size: 16px;">
	<tr>
		<td colspan="6" style="border-bottom: 3px solid #000;font-size: 20px;font-weight: bold;">Приложение № 1к Договору аренды автомобиля№ ____ от «____»__________20__ г.</td>
	</tr>
	<tr height="15px;">
		<td colspan="6"></td>
	</tr>
	<tr>
		<tr>
		<td colspan="6" style="font-size: 20px;font-weight: bold;text-align: center;">АКТ ПРИЕМА - ПЕРЕДАЧИ АВТОМОБИЛЯ</td>

	</tr>

	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td colspan="4" >Время ___:___27 июня 2018 г.</td>
	<tr height="25px;">
		<td colspan="6"></td>
	</tr>
	<tr style="font-weight: bold;text-align: center;">
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-left: 3px solid #000;border-bottom: 2px solid #000;">№ п/п</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">Наименование, марка</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">Наличие номера</td>
	</tr>
	<tr style="font-weight: bold;text-align: center;">
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-left: 3px solid #000;border-bottom: 2px solid #000;">1</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">Марка, модель</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">#</td></tr>
	<tr style="font-weight: bold;text-align: center;">
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-left: 3px solid #000;border-bottom: 2px solid #000;">2</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">Регистрационный знак</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">#</td></tr>
	<tr style="font-weight: bold;text-align: center;">
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-left: 3px solid #000;border-bottom: 2px solid #000;">3</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">НИдентификационный номер (VIN)</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">Z94CT41CBFR476405</td></tr>
	<tr style="font-weight: bold;text-align: center;">
	<td style="border: 1px solid #000;border-top: 3px solid #000;border-left: 3px solid #000;border-bottom: 2px solid #000;">4</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">Год выпуска</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">#</td>
	</tr>
	<tr style="font-weight: bold;text-align: center;">
	<td style="border: 1px solid #000;border-top: 3px solid #000;border-left: 3px solid #000;border-bottom: 2px solid #000;">5</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">Цвет</td>
		<td style="border: 1px solid #000;border-top: 3px solid #000;border-bottom: 2px solid #000;">#</td>
	</tr>



	<tr height="15px;">
		<td colspan="6"></td>
	</tr>

	<tr height="15px;">
		<td colspan="6"></td>
	</tr>
	<tr>
		<td colspan="6">Арендатор сверил фактические номера шасси (кузова) в подкапотном и багажном отделениях, двигателя, номер для запчапстей, VIN, с номерами, указанными в документах.</td>
	</tr>
	<tr>
		<td colspan="6">Акт составлен в двух экземплярах по одному для каждой стороны.</td>
	</tr>
	<tr height="50px;">
		<td colspan="6"></td>
	</tr>
	<tr>
		<td colspan="2" style="font-weight: bold;">Автомобиль предал</td>
		<td></td>
		<td colspan="4" style="font-weight: bold;">Автомобиль принял</td>

	</tr>
	<tr height="60px;">
		<td colspan="6"></td>
	</tr>
	<tr>
		<td colspan="2" style="border-bottom: 1px solid #000;">Ген. директор Пупкин В.И /</td>
		<td></td>
		<td colspan="4" style="border-bottom: 1px solid #000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</td>
	</tr>
	<tr>
		<td colspan="2">(ФИО)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Подпись)</td>
		<td></td>
		<td colspan="4">(ФИО)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Подпись)</td>
	</tr>
</table>
</body>
</html>