<!{% extends "base.html" %}

{% block content %}

     <meta name="robots" content="noindex, nofollow"/>
    <title>Водителя</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/водителя/styles.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript">
        AXSHARE_HOST_URL = 'http://share.axure.com';
        AXSHARE_HOST_SECURE_URL = 'https://share.axure.com';
        ACCOUNT_SERVICE_URL = 'http://accounts.axure.com';
        ACCOUNT_SERVICE_SECURE_URL = 'https://accounts.axure.com';
        ON_PREM_LDAP_ENABLED = 'false';
</script><script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/водителя/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'https://d1h0x9w88ijkiq.cloudfront.net/3372/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

<script>
    $(document).ready(function(){
        $("iframe").each(function( index ) {
            var iframeSrc = $(this).attr('src') || '';
            if(iframeSrc.indexOf('http:') != -1){
                $(this).attr('scrolling', 'auto');
                $(this).css('overflow', 'auto');
                $(this).attr('src', 'https://uftnur.axshare.com/');
            }
        });
    });
</script>

  <!-- Unnamed (Карточка водителя) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u277" class="ax_default box_1">
        <div id="u277_div" class=""></div>
        <div id="u277_text" class="text ">
          <p><span>Карточка водителя</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u278" class="ax_default text_field">
        <input id="u278_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u279" class="ax_default text_field">
        <input id="u279_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u280" class="ax_default text_field">
        <input id="u280_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u281" class="ax_default text_field">
        <input id="u281_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u282" class="ax_default" data-left="97" data-top="473" data-width="300" data-height="112">

        <!-- Unnamed (Group) -->
        <div id="u283" class="ax_default" data-left="97" data-top="473" data-width="300" data-height="25">

          <!-- Unnamed (Text Field) -->
          <div id="u284" class="ax_default text_field">
            <input id="u284_input" type="text" value=""/>
          </div>

          <!-- Unnamed (HTML Button) -->
          <div id="u285" class="ax_default html_button">
            <input id="u285_input" type="submit" value="Загрузить"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u286" class="ax_default" data-left="97" data-top="508" data-width="300" data-height="77">

          <!-- Unnamed (Image) -->
          <div id="u287" class="ax_default image">
            <img id="u287_img" class="img " src="https://d26uhratvi024l.cloudfront.net/gsc/OOH44L/e0/02/ec/e002ec0408b145d7a94b56e4b49412a7/images/home/u21.png?token=f2529eb199fd5348ef991279ebb0dcb8"/>
            <div id="u287_text" class="text ">
              <p><span>Фото прав</span></p>
            </div>
          </div>

          <!-- Unnamed (HTML Button) -->
          <div id="u288" class="ax_default html_button">
            <input id="u288_input" type="submit" value="Сохранить как"/>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u289" class="ax_default" data-left="97" data-top="386" data-width="300" data-height="77">

        <!-- Unnamed (Image) -->
        <div id="u290" class="ax_default image">
          <img id="u290_img" class="img " src="https://d26uhratvi024l.cloudfront.net/gsc/OOH44L/e0/02/ec/e002ec0408b145d7a94b56e4b49412a7/images/home/u21.png?token=f2529eb199fd5348ef991279ebb0dcb8"/>
          <div id="u290_text" class="text ">
            <p><span>Фото паспорта</span></p>
          </div>
        </div>

        <!-- Unnamed (HTML Button) -->
        <div id="u291" class="ax_default html_button">
          <input id="u291_input" type="submit" value="Сохранить как"/>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u292" class="ax_default" data-left="97" data-top="344" data-width="300" data-height="25">

        <!-- Unnamed (Text Field) -->
        <div id="u293" class="ax_default text_field">
          <input id="u293_input" type="text" value=""/>
        </div>

        <!-- Unnamed (HTML Button) -->
        <div id="u294" class="ax_default html_button">
          <input id="u294_input" type="submit" value="Загрузить"/>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u295" class="ax_default html_button">
        <input id="u295_input" type="submit" value="Внести в ЧС"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u296" class="ax_default text_field">
        <input id="u296_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u297" class="ax_default label">
        <div id="u297_div" class=""></div>
        <div id="u297_text" class="text ">
          <p><span>Введите серию и номер паспорта</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u298" class="ax_default label">
        <div id="u298_div" class=""></div>
        <div id="u298_text" class="text ">
          <p><span>Личные данные</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u299" class="ax_default label">
        <div id="u299_div" class=""></div>
        <div id="u299_text" class="text ">
          <p><span>Сканы</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u300" class="ax_default sticky_4">
        <div id="u300_div" class=""></div>
        <div id="u300_text" class="text ">
          <p><span>Есть в черном списке</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u301" class="ax_default html_button">
        <input id="u301_input" type="submit" value="Удалить"/>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u302" class="ax_default html_button">
        <input id="u302_input" type="submit" value="Добавить водителя"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u303" class="ax_default label">
        <div id="u303_div" class=""></div>
        <div id="u303_text" class="text ">
          <p><span>Паспорт</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u304" class="ax_default label">
        <div id="u304_div" class=""></div>
        <div id="u304_text" class="text ">
          <p><span>Водительские</span></p><p><span>права</span></p>
        </div>
      </div>
    </div>

{% endblock %}