{% extends "base.html" %}

{% block content %}
    <h1>Список водителей</h1>
    <h3>Фамилия    |    Имя    |    Отчество    |    Серия    |    Номер</h3>
    <div>
    {% if drivers %}
        {% for driver in drivers %}
            <p>

                <a href="/drivers/{{ driver.id }}">
                    {{ driver.second_name }}         {{ driver.first_name }}        {{ driver.middle_name }}        {{ driver.series }}         {{ driver.number }}
                </a>

            </p>
        {% endfor %}
    {% else %}
        <p>Cписок водителей пуст</p>
    {% endif %}
    </div>
{% endblock %}
{% block right_content %}
    <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lux/bootstrap.min.css" rel="stylesheet">
    </head>


    <form method="post" style="margin-left: 550px">
    <div class="form-group">
        <label for="second_name">Фамилия</label>
      <input type="text" class="form-control" id="second_name" name="second_name" placeholder="Иванов">
    </div>
    <div class="form-group">
      <label for="first_name">Имя</label>
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Иван">
    </div>
    <div class="form-group">
      <label for="middle_name">Отчество</label>
      <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Иванович">
    </div>
    <div class="form-group">
      <label for="series">Серия паспорта</label>
      <input type="text" class="form-control" id="series" name="series" placeholder="0000">
    </div>
    <div class="form-group">
      <label for="number">Номер паспорта</label>
      <input type="text" class="form-control" id="number" name="number" placeholder="999999">
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>

{% endblock %}
