{% extends "base.html" %}

{% block content %}
    <h2>История событий</h2>
    <div>
    {% for event in his %}
        <p>

        {% if event.event_type == 'add_driver' %}
        {{ event.date }}:   Добавлен водитель {{ event.txt_field}}
        {% elif event.event_type == 'update_driver' %}
        {{ event.date }}:   Информация о водителе {{ event.txt_field }} изменена
        {% elif event.event_type == 'add_car' %}
        {{ event.date }}:   Добавлен автомобиль {{ event.txt_field }}
        {% elif event.event_type == 'update_car' %}
        {{ event.date }}:   Информация об автомобиле {{ event.txt_field }} изменена
        {% elif event.event_type == 'add_to_bl' %}
        {{ event.date }}:   Водитель {{ event.additional_field }} добавлен в ЧС по причине: {{ event.txt_field }}
        {% elif event.event_type == 'get_car' %}
        {{ event.date }}:   Водитель {{ event.txt_field }} получил автомобиль {{ event.additional_field }}
        {% elif event.event_type == 'return_car' %}
        {{ event.date }}:   Водитель {{ event.txt_field }} вернул автомобиль {{ event.additional_field }}
        {% endif %}

        </p>
    {% endfor %}
    </div>
{% endblock %}
{% block right_content %}
    <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lux/bootstrap.min.css" rel="stylesheet">
    </head>


    <form method="post">
    <div class="form-group">
        <label for="second_name">Фамилия</label>
      <input type="text" class="form-control" id="second_name" name="second_name" placeholder="Иванов">
    </div>
    <div class="form-group">
      <label for="first_name">Имя</label>
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Иван">
    </div>
    <div class="form-group">
      <label for="middle_name">Отчество</label>
      <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Иванович">
    </div>
    <div class="form-group">
      <label for="series">Серия паспорта</label>
      <input type="text" class="form-control" id="series" name="series" placeholder="0000">
    </div>
    <div class="form-group">
      <label for="number">Номер паспорта</label>
      <input type="text" class="form-control" id="number" name="number" placeholder="999999">
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>
{% endblock %}
