{% extends 'base.html' %}

<h1>Обновить данные о водителе</h1>

<head>
        <link href="static/style.css" rel="stylesheet">
        <script src="static/jsstyle.js"></script>


    </head>

{% block right_content %}


    <form method="post">
        <div class="form-group">
            <input type="hidden" id="driver_id" name="driver_id" value="{{ driver.id }}">
            <input type="text" class="form-control" id="second_name" name="second_name" value="{{ driver.second_name }}">
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ driver.first_name }}">
            <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{ driver.middle_name }}">
            <input type="text" class="form-control" id="series" name="series" value="{{ driver.series }}">
            <input type="text" class="form-control" id="number" name="number" value="{{ driver.number }}">
        </div>
        <div>
        <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
        <script>
            $(document).ready(function(){
                //Скрыть PopUp при загрузке страницы
                PopUpHide();
            });
            //Функция отображения PopUp
            function PopUpShow(){
                $("#popup1").show();
            }
            //Функция скрытия PopUp
            function PopUpHide(){
                $("#popup1").hide();
            }
        </script>
        <input type="button" class="form-control" id="block" name="block" value="{{ driver.block }}">
        <div class="b-container">
        <a href="javascript:PopUpShow()">Причина добавления</a>
        </div>
        <div class="b-popup" id="popup1">
            <div class="b-popup-content">
                <div class="form-group">
                    <input type="text" class="form-control" id="block_reason" name="block_reason" value="{{ driver.block_reason }}" placeholder="В кратце">
                </div>
                    <a href="javascript:PopUpHide()">Закрыть</a>
            </div>
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="#" style="margin-top: 100px">Составить акт</a>
        <script>
            $(document).ready(function(){
                //Скрыть PopUp при загрузке страницы
                PopUpHide();
            });
            //Функция отображения PopUp
            function PopUpShow(){
                $("#popup2").show();
            }
            //Функция скрытия PopUp
            function PopUpHide(){
                $("#popup2").hide();
            }
        </script>
        <div class="b-container">
        <a href="javascript:PopUpShow()">Выберете машину</a>
        </div>
        <div class="b-popup" id="popup2">
            <div class="b-popup-content">

                    {% if act_cars %}
                        {% for car in act_cars %}
                            <p>
                                <a href="/acts/{{ driver.id }}">
                                    {{ car.id }}.{{ car.brand }} {{ car.model }} {{ car.numberplate }}
                                </a>
                            </p>
                        {% endfor %}
                    {% else %}
                        <p>Список авто пуст</p>
                    {% endif %}

            <a href="javascript:PopUpHide()">Закрыть</a>
            </div>
        </div>

    </form>
{% endblock %}
